<div class="content" layout="column" layout-align="center center">
    <div class="box" md-whiteframe="1">
        <div class="box-header">
            <md-progress-linear md-mode="indeterminate" ng-if="vm.isLoading"></md-progress-linear>
            <div class="md-padding left">
                <h2>Create account</h2>
                <span class="description">One account is all you need</span>
            </div>
        </div>
        <form name="signUpForm" class="box-content" ng-submit="vm.create(vm.account)">
            <div class="md-padding">
                <md-input-container class="md-block" flex>
                    <md-icon>home</md-icon>
                    <input name="username" required type="text" placeholder="Username" ng-model="vm.account.username" aria-label="account">
                    <div ng-messages="signUpForm.username.$error" role="alert">
                        <div ng-message="required">
                            Username must not be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-icon>email</md-icon>
                    <input name="email" required type="email" placeholder="E-mail address" ng-model="vm.account.email" aria-label="account">
                    <div ng-messages="signUpForm.email.$error" role="alert">
                        <div ng-message="required">
                            Email address must not be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-icon>lock</md-icon>
                    <input name="password" required type="password" placeholder="Password" ng-model="vm.account.password" minlength="6" aria-label="account">
                    <div ng-messages="signUpForm.email.$error" role="alert">
                        <div ng-message="minlength">
                            Password length should be at least 6 symbols
                        </div>
                        <div ng-message="required">
                            Password must not be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-icon>lock</md-icon>
                    <input name="confirmPassword" required type="password" placeholder="Confirm password" ng-model="vm.account.confirmPassword"
                        minlength="6" aria-label="account" compare-to="vm.account.password">
                    <div ng-messages="signUpForm.confirmPassword.$error" role="alert">
                        <div ng-message="compareTo">Confirm password does not match password</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary md-block" type="submit" ng-disabled="vm.isLoading">
                        {{ vm.isLoading ? 'Loading' : 'Create Account' }}
                    </md-button>
                </div>
                <div layout="column" layout-align="center center">
                    <div class="error" ng-if="vm.errors.length > 0">
                        <p ng-repeat="error in vm.errors">{{error}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
