<div class="content" layout="row" layout-align="center start">
    <div class="post-content" layout="row" layout-align="center start" ng-if="vm.post.attachments.length > 0">
        <div class="post-content-buttons fixed" layout="row" layout-align="space-between center" ng-if="vm.post.attachments.length > 1">
            <div>
                <md-button class="md-icon-button md-raised" ng-click="vm.previous()" ng-if="vm.post.activeAttachment > 0">
                    <md-icon class="post-icon">chevron_left</md-icon>
                </md-button>
            </div>
            <div>
                <md-button class="md-icon-button md-raised" ng-click="vm.next()" ng-if="vm.post.activeAttachment != vm.post.attachments.length - 1">
                    <md-icon class="post-icon">chevron_right</md-icon>
                </md-button>
            </div>
        </div>
        <img ng-src="{{vm.post.attachments[vm.post.activeAttachment].uri}}" alt="attachment">
    </div>
</div>
