@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #262626;
}

main {
    /*min-height: calc(100vh - 70px - 70px);*/
}

li {
    display: inline;
    margin-left: 15px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    height: 70px;
    background-color: white;
    color: #262626;
    border-bottom: 1px solid #efefef;
}

md-progress-linear {
    height: 3px;
}

.md-progress-linear.md-default-theme .md-container,
md-progress-linear .md-container {
    background-color: transparent;
    height: 3px;
}

.md-progress-linear.md-default-theme .md-bar,
md-progress-linear .md-bar {
    /*background-color: red;*/
    height: 3px;
}

md-progress-linear .md-container .md-bar {
    height: 3px;
}

md-progress-circular.md-primary path {
    stroke: #2196f3;
}

md-progress-circular.md-white path {
    stroke: white;
}

md-progress-circular.md-black path {
    stroke: black;
}

.footer {
    height: 70px;
    background-color: white;
    border-top: 1px solid #efefef;
}

.md-toolbar-tools h1,
.md-toolbar-tools h2,
.md-toolbar-tools h3 {
    font-weight: lighter;
}

.md-block {
    position: relative;
    display: block;
    width: 100%;
}

h1 {
    font-weight: lighter;
}

.title {
    font-weight: lighter;
    font-size: 24px;
}

h2 {
    font-weight: lighter;
}

.content {
    min-height: calc(100vh - 70px - 70px);
    width: 100%;
    padding-top: 25px;
}

.container {
    width: 75%;
}

.col-x1 {
    width: 25%;
}

.col-x2 {
    width: 50%;
}

.box {
    width: 400px;
    background-color: white;
}

.box-header {}

.box-content {}

.box-footer {
}

a {
    text-decoration: none;
}


/*a:visited {
    color: rgb(33, 150, 243);
}*/

.md-padding.left {
    padding: 0px 0px 0px 16px;
}

.md-padding.right {
    padding: 0px 16px 0px 0px;
}

.md-padding.top {
    padding: 16px 0px 0px 0px;
}

.md-padding.bottom {
    padding: 0px 0px 16px 0px;
}

.md-padding.wide {
    padding: 0px 16px 0px 16px;
}

.thumbnail-small {
    height: 40px;
    width: 40px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail-medium {
    height: 55px;
    width: 55px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.description {
    color: #808080;
}

.error {
    color: #ed4956;
    text-align: center;
}

.md-button {
    padding: 1px 6px 0px 6px !important;
}

.post {
    width: 50%;
    background-color: white;
    /*border: 1px solid #efefef;*/
    position: relative;
}

.post-header {
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 10px;
}

.post-footer {
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 10px;
    position: relative;
}

.post-content {
    width: 100%;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-details {
    padding: 10px 10px 10px 10px;
}

.post-caption {
    display: inline-flex;
}

.md-subhead {
    margin: 0px;
    padding: 0px;
}

.post-link {
    color: black;
}

md-input-container.light-container {
    margin: 2px 0px 0px 0px !important;
    width: 100%;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input.md-input-light {
    border: none;
    padding: 0px 2px 0px 2px;
}

md-input-container.md-default-theme .md-input,
md-input-container .md-input-light {
    border: none;
}

.md-no-spacer .md-errors-spacer {
    min-height: 0px !important;
}
