@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #262626;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
    color: #262626;
    border-bottom: 1px solid #efefef;
}

h1 {
    font-weight: lighter;
}

.content {
    width: 100%;
}

.container {
    width: 75%;
}

.col-x1 {
    width: 25%;
}

.col-x2 {
    width: 50%;
}

.input-form {
    width: 450px;
}

a {
    text-decoration: none;
}