<div class="content" layout="column" layout-align="start center">
    <div class="user-info-bar" layout="row" layout-align="center center" ng-if="vm.user">
        <div layout="column" layout-align="center end" flex="20">
            <img class="thumbnail-big" ng-src="{{vm.user.pictureUri}}" alt="profile"/>
        </div>
        <div class="md-padding" layout="column" layout-align="stretch stretch" flex>
            <div layout="row" layout-align="space-between center">
                <span class="md-display-1" style="font-weight: lighter;">{{vm.user.username}}</span>
            </div>
            <div class="counters" layout="row" layout-align="start center" ng-if="vm.user.isActive">
                <div flex="20">
                    <span class="md-title">{{vm.user.posts}} </span>
                    <span class="md-subhead">posts </span>
                </div>
                <div flex="20">
                    <span class="md-title">{{vm.user.followers}} </span>
                    <span class="md-subhead">followers </span>
                </div>
                <div flex="20">
                    <span class="md-title">{{vm.user.follows}} </span>
                    <span class="md-subhead">follows</span>
                </div>
            </div>
            <div layout="row" layout-align="start center" style="margin-top: 15px;">
                <span class="md-subhead" style="font-size: 17px;font-weight: bold;padding-right: 10px;">{{vm.user.fullName}}</span>
                <span class="md-subhead" style="font-size: 17px;font-weight: normal;padding-right: 10px;">{{vm.user.bio}}</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <md-grid-list md-cols-gt-md="3" md-row-height-gt-md="1:1" layout-align="center center">
            <md-grid-tile class="user-post" ng-repeat="post in vm.data.posts">
                <img class="thumbnail" ng-src="{{post.attachments[0].uri}}" alt="User Post">
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
