<div class="content" layout="column" layout-align="start center">
    <div class="user-info" layout="row" layout-align="center start" ng-if="vm.loaded">
        <img class="thumbnail-big" alternative-user-image ng-src="{{vm.user.pictureUri}}" alt="profile" md-whiteframe="3" />
        <div class="md-padding" layout="column" layout-align="stretch stretch" flex>
            <div layout="row" layout-align="space-between center">
                <span class="md-display-1">{{vm.user.username}}</span>
                <a ui-sref="settings" ng-if="vm.currentUser.userId === vm.user.id">
                    <md-tooltip md-direction="left">Go to settings</md-tooltip>
                    <md-icon>settings</md-icon>
                </a>
                <a ng-if="vm.currentUser.userId === vm.user.id" ng-click="vm.logout()">
                    <md-tooltip md-direction="left">Logout</md-tooltip>
                    <md-icon>exit_to_app</md-icon>
                </a>
            </div>
            <div class="md-padding top counters" layout="row" layout-align="start center" ng-if="vm.user.isActive">
                <div flex="20">
                    <span class="md-title">{{vm.user.posts}} </span>
                    <span class="md-subhead">posts </span>
                </div>
                <div flex="20">
                    <span class="md-title">{{vm.user.followers}} </span>
                    <span class="md-subhead">followers </span>
                </div>
                <div flex="20">
                    <span class="md-title">{{vm.user.following}} </span>
                    <span class="md-subhead">following</span>
                </div>
            </div>
            <div class="md-padding top" layout="row" layout-align="start center">
                <span class="md-subhead" style="font-size: 17px;font-weight: bold;padding-right: 10px;">{{vm.user.fullName}}</span>
                <span class="md-subhead" style="font-size: 17px;font-weight: normal;padding-right: 10px;">{{vm.user.bio}}</span>
            </div>
        </div>
    </div>
    <div class="container" layout="row" layout-align="center center" ng-if="vm.error" flex>
        <error-box error="vm.error"></error-box>
    </div>
    <div class="container" layout="column" layout-align="start center" ng-if="!vm.error">
        <div class="user-posts">
            <div class="post-item" ng-repeat="post in vm.data.posts">
                <div class="image-container" layout="column" layout-align="center center" md-whiteframe="3">
                    <img class="thumbnail" ng-src="{{post.attachments[0].uri}}" alt="{{post.attachments[0].uri}}">
                    <div class="after md-padding" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="center center">
                            <md-icon class="post-icon">favorite</md-icon>
                            <span class="post-number">{{post.likesCount}}</span>
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-icon class="post-icon">mode_comment</md-icon>
                            <span class="post-number">{{post.commentsCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.data.hasMoreItems">
            <md-button class="md-fab" ng-click="vm.getPosts()" ng-if="!vm.isLoading">
                <md-tooltip md-direction="left">Load more posts</md-tooltip>
                <md-icon>expand_more</md-icon>
            </md-button>
            <div class="md-circle-container" ng-if="vm.isLoading">
                <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
            </div>
        </div>
    </div>
</div>
