<div class="content" layout="column" layout-align="center center">
    <div class="box" md-whiteframe="1">
        <div class="box-header">
            <md-progress-linear md-mode="indeterminate" ng-if="vm.isLoading"></md-progress-linear>
            <div class="md-padding left">
                <h2>Sign In</h2>
                <span class="description">to continue to PhotoCloud</span>
            </div>
        </div>
        <form name="signInForm" class="box-content" ng-submit="vm.signIn(vm.account)">
            <div class="md-padding">
                <md-input-container class="md-block" flex>
                    <input name="username" required type="text" placeholder="Username" ng-model="vm.account.username" aria-label="account">
                    <div ng-messages="signInForm.username.$error" role="alert">
                        <div ng-message="required">
                            Username must not be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <input name="password" required minlength="6" type="password" placeholder="Password" ng-model="vm.account.password" aria-label="account">
                    <div ng-messages="signInForm.password.$error" role="alert">
                        <div ng-message="minlength">
                            Password length should be at least 6 symbols
                        </div>
                        <div ng-message="required">
                            Password must not be empty
                        </div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="space-between center">
                    <div class="md-padding top">
                        <md-checkbox ng-model="vm.account.remember">Remember me?</md-checkbox>
                    </div>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.isLoading">
                        {{ vm.isLoading ? 'Loading' : 'Sign In' }}
                    </md-button>
                </div>
                <div layout="column" layout-align="center center">
                    <div class="md-padding error" ng-if="vm.error">
                        <span>{{vm.error}}</span>
                    </div>
                    <div class="md-block md-padding top">
                        <md-divider class="md-block md-padding top"></md-divider>
                    </div>
                    <div class="md-padding">
                        <!--<span class="md-padding right">Have no account?</span><a ui-sref="signup">Sign up for free</a>-->
                        <span class="md-padding right">Have no account?</span>
                        <md-button class="md-primary" ui-sref="signup">Sign up for free</md-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
