<div class="content" layout="column" layout-align="start center">
    <div class="post" md-whiteframe="1">
        <div class="post-header" layout="row" flex>
            <img class="thumbnail-medium" src="https://res.cloudinary.com/dpfmyl1mn/image/upload/v1494515355/photocloud/prod/nazarkryp/dfoefpyjf5xlwvgbfzdw.jpg"
                alt="profile">
            <div class="md-padding left" layout="row" layout-align="space-between center" flex>
                <span class="md-subhead">nazarkryp</span>
                <md-button class="md-icon-button">
                    <md-icon>expand_more</md-icon>
                </md-button>
            </div>
        </div>
        <div class="post-content">
            <img class="post-image" src="https://res.cloudinary.com/dpfmyl1mn/image/upload/v1494515355/photocloud/prod/nazarkryp/dfoefpyjf5xlwvgbfzdw.jpg"
                alt="post-image">
        </div>
        <div class="post-details">
            <div>
                <span class="md-subhead"><strong>100 likes</strong></span>
            </div>
            <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
            <span>#evening #victoriasgarden have a nice time</span>
            <div class="post-comments">
                <div class="comment">
                    <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
                    <span>nice picture</span>
                </div>
                <div class="comment">
                    <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
                    <span>nice picture</span>
                </div>
                <div class="comment">
                    <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
                    <span>nice picture</span>
                </div>
                <div class="comment">
                    <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
                    <span>nice picture</span>
                </div>
                <div class="comment">
                    <a class="md-subhead post-link" href="#"><strong>nazarkryp</strong></a>
                    <span>nice picture</span>
                </div>
                <a class="md-body-2 description" href="#"><strong>View all 100 comments</strong></a>
            </div>
            <div>
                <span class="md-body-2 description">15 May 2017</span>
            </div>
        </div>
        <div class="md-padding wide">
            <md-divider class="md-block"></md-divider>
        </div>
        <div class="post-footer">
            <md-button class="md-icon-button">
                <md-icon>favorite</md-icon>
            </md-button>
            <md-input-container class="light-container md-no-spacer" md-no-float>
                <input class="md-input-light" type="text" placeholder="Add comment">
            </md-input-container>
            <md-button class="md-icon-button">
                <md-icon>more_horiz</md-icon>
            </md-button>
        </div>
    </div>
</div>
