<div class="content" layout="column" layout-align="start center">
    <post class="post" remove-callback="vm.removePost($index)" ng-repeat="post in vm.data.posts" post="post"></post>
    <div class="md-padding" ng-if="vm.data.hasMoreItems">
        <md-button ng-click="vm.loadMore()">Load More</md-button>
    </div>
</div>
<md-fab-speed-dial class="md-fab-bottom-right" ng-click="vm.createPost($event)">
    <md-fab-trigger>
        <md-button class="md-fab" aria-label="Preate Post">
            <md-tooltip md-direction="left">Create post</md-tooltip>
            <md-icon>photo_camera</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>
