<div layout="row" layout-align="center center" ng-if="!vm.currentUser.isAuthenticated">
    <md-button ui-sref="signup">Create Account</md-button>
    <md-button class="md-primary md-raised" ui-sref="signin">Sign In</md-button>
</div>
<div layout="row" layout-align="center center" ng-if="vm.currentUser.isAuthenticated">
    <!--<md-button class="md-icon-button">
        
    </md-button>-->
    <img class="thumbnail-small" ng-src="{{vm.currentUser.pictureUri}}" alt="user">
    <md-button ng-click="vm.logout()">Logout</md-button>
</div>
