<div class="content" layout="column" layout-align="center center" ng-if="vm.isPageLoading">
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
</div>
<div class="content" layout="column" layout-align="start center" ng-if="!vm.isPageLoading">
    <post class="post" remove-callback="vm.removePost($index)" ng-repeat="post in vm.data.posts" post="post" ng-if="!vm.isPageLoading"></post>
    <div class="md-padding" ng-if="vm.data.hasMoreItems">
        <md-button class="md-fab" ng-click="vm.getPosts()">
            <md-tooltip md-direction="left">Load more posts</md-tooltip>
            <md-icon>expand_more</md-icon>
        </md-button>
        <div class="md-circle-container" ng-if="vm.isLoading">
            <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
        </div>
    </div>
</div>
<md-fab-speed-dial class="md-fab-bottom-right" ng-click="vm.createPost($event)">
    <md-fab-trigger>
        <md-button class="md-fab" aria-label="Preate Post">
            <md-tooltip md-direction="left">Create post</md-tooltip>
            <md-icon>photo_camera</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>
